.cart-page {
    .card-custom {
        border: 1px solid mediumseagreen;
        box-shadow: 10px 10px 5px lightgrey;
        box-shadow: 2px;
        padding: 10px;
        margin-bottom: 10px;
        height: 160px;
    }
    .image-custom {
        width: 100%;
      }
}